---
layout: archive
title: "Honors and Awards"
permalink: /Honors and Awards/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

Honors and Awards(国家级19项，省部级26项)
------
1. 2023年11月  入选第九届中国国际“互联网＋”创新创业大赛全国总决赛
2. 2023年10月  第十八届“挑战杯”全国大学生课外学术科技作品竞赛国家特等奖
3. 2022年12月  中国研究生“双碳”创新与创意大赛全国二等奖（中国科协）
4. 2022年11月  联合国开发计划署创客大赛三等奖（联合国开发计划署）
5. 2022年11月  第八届中国国际“互联网＋”创新创业大赛全国银奖（教育部等）
6. 2022年04月  第十七届“挑战杯”全国大学生课外学术科技作品竞赛全国二等奖
7. 2021年12月  第十四届大学生创新创业年会优秀学术论文奖（全国一等奖，教育部）
8. 2021年10月  国际顶点设计竞赛金奖（韩国教育部）
9. 2021年10月  宝钢教育奖优秀学生奖
10. 2021年09月  第七届中国国际“互联网＋”创新创业大赛全国金奖
11. 2021年09月  2021全国大学生物联网设计竞赛全国三等奖
12. 2020年12月  全国移动互联大赛全国一等奖
13. 2020年12月 “京津冀-粤港澳”青年创新创业大赛全国银奖
14. 2020年11月  国家励志奖学金
15. 2019年12月  大学生乡村教育奖全国银奖
16. 2019年11月  国家励志奖学金
17. 2023.06	香港大学生创新创业大赛二等奖
18. 2021.11	全国数学建模大赛/省一等奖
19. 2022年04月  哈尔滨工业大学学生五四奖章(最高荣誉)
20. 2021.12	哈工大优秀学生李昌奖（校长奖章，本科生排名第一）
21. 2021.05	哈尔滨工业大学十佳青年志愿者
22. 2021.04	哈工大春晖创新成果奖一等奖（哈工大创新创业最高荣誉）
23. 2020.12	化工与化学学院十佳大学生
